body {
  background-color: rgb(222, 222, 222);
  font: 400 1.125em/1.38 'Merriweather Sans';
  color: rgb(222, 222, 222);
}

.body-banner-after-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: url('/resources/badg.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right top;
  background-attachment: scroll;
  overflow: hidden;
}

.body-container-1 {
  position: relative;
  width: 55%;
  min-width: 635px;
  max-width: 900px;
  margin: 0 auto;
}

.body-container-2 {
  position: relative;
  float: left;
  z-index: 7;
  width: 55%;
  min-width: 635px;
  max-width: 900px;
  margin: 67px 0 0 24.16667%;
}

.body-content-1 {
  float: left;
  width: 100%;
  min-width: 315px;
}

.body-content-2 {
  float: left;
  width: 80%;
  min-width: 315px;
  max-width: 435px;
}

.body-row-banner-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 8;
  width: 100%;
  height: 545px;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: rgb(255, 255, 255);
}

.body-row-red-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 13;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: rgb(138, 42, 43);
}

.body-text-1 {
  float: right;
  width: 80%;
  min-height: 53px;
  padding-bottom: 10px;
  font-size: 1.222em;
  font-weight: 700;
  line-height: 1.38;
  text-align: right;
  color: rgb(222, 222, 222);
}

.body-text-2 {
  float: left;
  clear: both;
  padding-bottom: 20px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(222, 222, 222);
}

.body-text-3 {
  float: left;
  width: 80%;
  padding-bottom: 20px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(138, 42, 43);
}

.copyright-1 {
  position: absolute;
  bottom: 38px;
  left: 0;
  width: 100%;
  min-height: 21px;
  font-size: 0.778em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(128, 128, 128);
}

/*#div-badg-text {
  width: 80%;
}*/

.expander-1 {
  display: block;
  visibility: hidden;
  float: left;
  width: 0.0833333333%;
  min-height: 32px;
  font-size: 3.333em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(222, 222, 222);
}

.footer-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 100%;
  height: 168px;
  background-color: rgb(51, 51, 51);
}

.header-1 {
  position: relative;
  float: left;
  z-index: 18;
  width: 100%;
  background-color: rgb(102, 102, 102);
  overflow: hidden;
}

.header-after-1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 14;
  width: 100%;
  height: 375px;
  background: url('/resources/banner_2.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right top;
  background-attachment: fixed;
  opacity: 0.4;
  overflow: hidden;
}

.header-text-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 15;
  width: 100%;
  min-height: 101px;
  margin-top: 20px;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, .5);
  font-size: 2.778em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(222, 222, 222);
}

.logo-big-1 {
  position: relative;
  float: left;
  z-index: 16;
  width: 100%;
  height: 200px;
  margin-top: 54px;
  background-image: url('/resources/logo_unbacked.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: 0.5;
}

.navbar-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 24;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  background-color: rgba(43, 43, 43, 0.67);
}

.text-1 {
  display: block;
  float: left;
  width: 12%;
  min-height: 34px;
  margin: 4px 0 0 16.79948%;
  font-size: 1.667em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(222, 222, 222);
}

.text-2 {
  display: block;
  float: left;
  width: 12%;
  min-height: 27px;
  margin: 18px 0 0 8.31641%;
  padding-bottom: 5px;
  font-size: 0.889em;
  line-height: 1.38;
  text-align: center;
  color: rgb(222, 222, 222);
}

.text-3 {
  display: block;
  float: right;
  width: 12%;
  min-height: 27px;
  margin: 18px 37.1992199999% 0 0;
  padding-bottom: 5px;
  font-size: 0.889em;
  line-height: 1.38;
  text-align: center;
  color: rgb(222, 222, 222);
}

.text-4 {
  display: block;
  position: absolute;
  top: 14px;
  right: 16.7999999999%;
  z-index: 19;
  width: 15%;
  min-height: 21px;
  padding-bottom: 5px;
  font-size: 1.056em;
  font-weight: 700;
  line-height: 1.38;
  text-align: right;
  color: rgb(222, 222, 222);
}

.text-5 {
  float: left;
  clear: both;
  width: 80%;
  min-height: 97px;
  font-size: 0.889em;
  font-weight: 300;
  line-height: 1;
  color: rgb(138, 42, 43);
}

.wrapper-1 {
  position: absolute;
  top: -5000px;
  left: -5000px;
  z-index: 17;
  width: 5px;
  height: 5px;
  overflow: hidden;
}

.body-text span,
.body-text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: 1.333em;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.copyright a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: 800;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width:1450px) {  
  .body-banner-after-1 {
    background-position: 120% bottom;
  }
}

@media(max-width:1200px) {
  .body-text-3 {
    width: 50%;
  }
  
  .text-5 {
    width: 50%;
  }
}

@media(max-width:1000px) {  
  .body-banner-after-1 {
    background-size: auto 80%;
  }
  
  .body-text-3 {
    width: 45%;
    font-size: .85em;
  }
  
  .text-5 {
    width: 45%;
    font-size: .85em;
  }
}

@media(max-width: 850px) {  
  .body-text-3 {
    width: 40%;
    font-size: .85em;
  }
  
  .text-5 {
    width: 40%;
    font-size: .85em;
  }
}

@media(max-width: 800px) {
  .body-banner-after-1 {
    background-position: 30% bottom;
    background-size: auto 50%;
  }

  .body-container-1 {
    width: 66.5%;
    min-width: 0;
  }

  .body-container-2 {
    position: relative;
    z-index: 7;
    width: 66.5%;
    min-width: 0;
    margin-top: 0;
    margin-left: 18.41602%;
  }

  .body-content-1 {
    width: 74.8031496062%;
    min-width: 0;
    margin-left: 15.66906%;
  }

  .body-content-2 {
    width: 55%;
    min-width: 0;
  }

  .body-row-banner-1 {
    position: relative;
    z-index: 8;
    padding-bottom: 50%;
  }

  .body-row-red-1 {
    position: relative;
    z-index: 13;
  }

  .body-text-1 {
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .body-text-2 {
    text-align: center;
  }
  
  .body-text-3 {
    width: 100%;
  }

  .expander-1 {
    display: none;
    width: 9.5%;
    margin-top: 143px;
    margin-left: 90.5%;
  }

  .footer-1 {
    position: relative;
    z-index: 2;
  }

  .header-1 {
    position: relative;
    z-index: 18;
  }

  .header-after-1 {
    background-size: 125% auto;
  }

  .header-text-1 {
    position: relative;
    z-index: 15;
  }

  .logo-big-1 {
    position: relative;
    z-index: 16;
  }

  .navbar-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-1 {
    width: 18.75%;
    margin-top: 9px;
    margin-left: 10%;
    font-size: 1.389em;
  }

  .text-2 {
    min-height: 0;
    margin-top: 22px;
    margin-left: 8.44922%;
    padding-bottom: 2px;
    font-size: 0.778em;
  }

  .text-3 {
    min-height: 0;
    margin-top: 22px;
    padding-bottom: 2px;
    font-size: 0.778em;
    width: 100%;
  }

  .text-4 {
    top: 16px;
    right: 10.05%;
    width: 18.75%;
    font-size: 0.889em;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 1em;
  }

  .body-banner-after-1 {
    bottom: -50px;
  }

  .body-container-1 {
    width: 100%;
  }

  .body-container-2 {
    position: relative;
    z-index: 7;
    width: 100%;
    margin-left: 0;
  }

  .body-content-1 {
    margin-left: 12.5%;
  }

  .body-content-2 {
    float: none;
    width: 87.624750499%;
    margin-right: auto;
    margin-left: auto;
  }

  .body-row-banner-1 {
    position: relative;
    z-index: 8;
    height: auto;
    padding-bottom: 60%;
    margin-bottom: 50px;
  }

  .body-row-red-1 {
    position: relative;
    z-index: 13;
  }

  .body-text-1 {
    font-size: 1.25em;
  }

  .body-text-2 {
    font-size: 16px;
  }

  .body-text-3 {
    float: none;
    width: 80%;
    margin-top: 53px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }

  .copyright-1 {
    font-size: 0.875em;
  }

  .expander-1 {
    display: block;
    visibility: visible;
    position: absolute;
    float: none;
    top: auto;
    bottom: 0;
    left: auto;
    right: 14px;
    width: 26.5%;
    min-height: 0;
    margin-top: 0;
    margin-left: 0;
    font-size: 3.75em;
  }

  .footer-1 {
    position: relative;
    z-index: 2;
  }

  .header-1 {
    position: relative;
    z-index: 18;
    padding-bottom: 10px;
  }

  .header-after-1 {
    height: 389px;
    background-size: cover;
  }

  .header-text-1 {
    position: relative;
    z-index: 15;
    width: 80%;
    min-height: 125px;
    margin-top: 0;
    margin-left: 10%;
    font-size: 2.5em;
  }

  .logo-big-1 {
    position: relative;
    z-index: 16;
  }

  .navbar-1 {
    top: -225px;
    left: -120px;
    right: auto;
    width: 200px;
    height: auto;
    padding-bottom: 75px;
    border-bottom-right-radius: 25px;
    background-color: rgb(43, 43, 43);
  }

  .text-1 {
    float: none;
    width: 100%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.563em;
    text-align: center;
  }

  .text-2,
  .text-3 {
    float: none;
    width: 100%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.875em;
  }

  .text-4 {
    position: relative;
    float: left;
    clear: both;
    top: auto;
    left: auto;
    right: auto;
    z-index: 19;
    width: 100%;
    margin-top: 25px;
    font-size: 1em;
    text-align: center;
  }

  .text-5 {
    font-size: 1em;
    width: 80%;
    margin-left: 10%;
  }

  .body-text span,
  .body-text strong {
    font-size: 1.5em;
  }
}