body {
  color: rgb(128, 128, 128);
  /*background-color: rgb(56, 44, 44);*/
  /*background: url('../images/pretty-picture-3.jpg') rgb(56, 44, 44);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;*/
}

a {
  color: rgb(139, 42, 44);
}

#coverfix-bg {
  background: url('../images/backdrop.svg') black;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

input {
  padding: 6px;
  border-radius: 3px;
  width: 80%;
  text-align: center;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.5), /*bottom internal shadow*/
  inset 0 1px 1px rgba(0,0,0,1); /*top internal highlight*/
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.5);
}

input[type="email"] {
  min-width: 300px;
  max-width: 500px;
}

button {
  font-weight: 700;
  font-size: 1.5em;
}

.container-page {
  margin: 800px 0 0 0;
}

.tail-offset {
  height: 1000px;
}

.spacefix {
  height: 100px;
}

.fill-subtle {
  /*background-color: rgb(30, 30, 30);*/
}

@media(max-width: 1350px) {
  .container-50.centered {
    width: 75%;
  }
}

@media(max-width: 725px) {
  body {
    font-size: 0.75em;
  }

  .container-50.left {
    position: relative;
    clear: both;
    width: 100%;
  }

  .container-50.right {
    position: relative;
    clear: both;
    width: 100%;
  }
  
  .block {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .padded-light.left,
  .padded-light-sides.left {
    padding-right: 50px;
  }

  .squeezed.left,
  .squeezed-sides.left {
    padding-right: 200px;
  }

  .padded-light.right,
  .padded-light-sides.right {
    padding-left: 50px;
  }
  .squeezed.right,
  .squeezed-sides.right {
    padding-left: 200px;
  }

  .copyright {
    font-size: 12px;
  }

  .tail-offset {
    position: relative;
  }
  
  .container-50.centered {
    width: 100%;
  }
}

@media(max-width: 515px) {
  
  .block.left {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .block.right {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
}

@media(max-width: 435px) {
  
  .padded-light-sides {
    padding-left: 10px;
    padding-right: 10px;
  }

  .padded-light.left,
  .padded-light-sides.left {
    padding-right:10px;
  }

  .squeezed.left,
  .squeezed-sides.left {
    padding-right: 10px;
  }

  .padded-light.right,
  .padded-light-sides.right {
    padding-left: 10px;
  }
  .squeezed.right,
  .squeezed-sides.right {
    padding-left: 10px;
  }

  input[type="email"] {
    min-width: 0px;
    max-width: none;
    width: 90%;
    font-size: .9em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  .block h1 {
    position: static;
  }
  
  .block.left h1 {
    text-align: center;
  }
  
  .block.right h1 {
    text-align: center;
  }
  
  .block {
    width: 100%;
    min-width: 0;
    text-align: center;
    height: initial;
    padding: 15px;
  }
  
  .block.left {
    text-align: center;
    position: static;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  
  .block.right {
    text-align: center;
    position: static;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  
  .block img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 150px;
    width: 80%;
    height: auto;
  }
  
  .block.left img {
    position: static;
    float: none;
    clear: both;
  }
  
  .block.right img {
    position: static;
    float: none;
    clear: both;
  }
  
  .block div.puffer {
    position: static;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  
  .padded-mid-topsy {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .padded-mid-sides {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padded-mid {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .copyright {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}